<h1>Landing Page</h1>
<h2>Company info</h2>

<% if @most_reviewed %>
  <h3>Our Highest Reviewed Product</h3>
  <%= link_to @most_reviewed.name, product_path(@most_reviewed) %>
<% end %>

<h3>Most Recently Added Products</h3>
<% @most_recent_added.each do |product| %>
   <p><%= link_to product.name, product_path(product) %> </p>
<% end %>

<h3>Treats Made in USA</h3>
<% @made_in_usa.each do |product| %>
   <p><%= link_to product.name, product_path(product) %></p>
<% end %>

<button class="btn btn-info"><%= link_to "See All Products", products_path %></button>
