<h2>Hi, I'm Annie</h2>

<div id="annie">
  <%= image_tag "annie.png" %>
</div>
<div id="story">

<h3>I started this small specialty dog treat shop with my favorite human back in 2020 and it has quickly grown into the largest online retailer for organic artisinal dog treats. We source from specialty dog treat bakers from around the globe and each product is thouroughly tested by yours truly for quality of ingredients and overall craftsmanship. </h3>
</div>
<br>
<h3><span class="glyphicon glyphicon-star"></span> Highest Reviewed Treat <span class="glyphicon glyphicon-star"></span></h3>
<% @most_reviewed.each do |product| %>
<p><%= link_to product.name, product_path(product) %> </p>
<% end %>

<h3>Recently Added Treats</h3>
<% @most_recent_added.each do |product| %>
<p><%= link_to product.name, product_path(product) %> </p>
<% end %>

<h3>Treats Made in USA</h3>
<% @made_in_usa.each do |product| %>
<p><%= link_to product.name, product_path(product) %></p>
<% end %>
