<h1>Our Tasty Treats:</h1>
<br>
<% if @products.any? %>
  <% @products.each do |product| %>
    <p><%= link_to product.name, product_path(product) %></p>
  <% end %>
<% else %>
<p>There are no products yet.</p>
<% end %>
